# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
dmft1
dmft2
gwien1
gwien2
CyGutz
exe_*

# Directory
doc/build
Gutzwiller_Slave_Boson_Solver/include
