
------- Fe.scf0 --------
 Flat Integration
 New Mode for Coulomb Integral
 Consistent 3/8+Simpson combinations
 Extension of core to zero
 LDM version in phi
 Fifth-order quadrature in outwin


            ---------
:ITE192:192. ITERATION
            ---------

:NATO :    1 INDEPENDENT AND    1 TOTAL ATOMS IN UNITCELL
       SUBSTANCE: Fe_BCC                                                      

       LATTICE                      = B   
:POT  : POTENTIAL OPTION EX_LDA EC_LDA VX_LDA VC_LDA
:LAT  : LATTICE CONSTANTS=  5.41690  5.41690  5.41690    1.571    1.571    1.571
:VOL  : UNIT CELL VOLUME =      79.47361
       MODE OF CALCULATION IS       = RELA
       NON-SPINPOLARIZED CALCULATION
:IFFT  : FFT-parameters:   48   48   48 Factor: 2.00
       ATOMNUMBER=  1 Fe         VCOUL-ZERO =  0.55496E+00
:FIT001: LUSE= 13 SIGMA OF V-XC FIT FOR ATOM  1  0.3308523E-03
:FIT001: LUSE= 13 SIGMA OF V-XC FIT FOR ATOM  1  0.3308523E-03
:DEN  : DENSITY INTEGRAL  =         -1070.21377042   (Ry)
       ELS_POTENTIAL_AT Z=0 and Z=0.5:  -0.71740  -0.71740
       ELS_POTENTIAL_AT Y=0 and Y=0.5:   0.00000   0.00000
:VZERO:v0,v0c,v0x  -1.44773  -0.71740  -0.73033 v5,v5c,v5x  -1.44773  -0.71740  -0.73033
:VZERY:v0,v0c,v0x  -0.80061   0.00000  -0.80061 v5,v5c,v5x  -0.80061   0.00000  -0.80061
:VZERX:v0,v0c,v0x  -0.80061   0.00000  -0.80061 v5,v5c,v5x  -0.80061   0.00000  -0.80061

------- Fe.scf1 --------
:LMAX-WF:   10   Non-Spherical LMAX:   4

          ATOMIC SPHERE DEPENDENT PARAMETERS FOR ATOM  Fe        
:e__0001: OVERALL ENERGY PARAMETER IS    0.3636
          OVERALL BASIS SET ON ATOM IS LAPW
:E1_0001: E( 1)=    0.3636
             APW+lo
:E1_0001: E( 1)=   -3.2951   E(BOTTOM)=   -3.342   E(TOP)=   -3.248  1  2   145
             LOCAL ORBITAL
:E2_0001: E( 2)=    0.4821   E(BOTTOM)=    0.212   E(TOP)=    0.752  0  1   125
             APW+lo
:E0_0001: E( 0)=    0.3636
             APW+lo

       K=   0.00000   0.00000   0.00000            1
:RKM  : MATRIX SIZE    67LOs:  12  RKM= 7.64  WEIGHT= 1.00  PGR:    
       EIGENVALUES ARE:
:EIG00001:      -3.2726908   -3.2726908   -3.2726908   -0.0425703    0.4704174
:EIG00006:       0.4704174    0.4704174    0.5798888    0.5798888
       ********************************************************

:KPT   :      NUMBER OF K-POINTS:   165

------- Fe.scf2 --------
:GMA  : POTENTIAL AND CHARGE CUT-OFF  12.00 Ry**.5




:POS001: at.nr.   1 position = 0.00000 0.00000 0.00000  multiplicity =  1

       lmmax  5
       lm=   0 0  4 0  4 4  6 0  6 4
:FER gutzwiller fermi energy   0.58348
:EORB         -0.008956308
:SUM sum of gutz band energies        -16.133397136

:CHA001: total charge inside sphere   1 =    13.004429
:PCS001: partial charges sphere =  1 s,p,d,f,      d-eg,d-t2g 
:QTL001: 0.4209 6.4107 6.1319 0.0315 0.0000 0.0000 0.0000 2.2101 3.9219 0.0000 0.0000 0.0000

:CHA  : total charge inside unit cell =      14.000003

------- Fe.scfc --------

        1.ATOM      Fe                    5 CORE STATES
:1S 001: 1S                -512.037431433 Ry
:2S 001: 2S                 -58.979811935 Ry
:2PP001: 2P*                -50.780808291 Ry
:2P 001: 2P                 -49.865694088 Ry
:3S 001: 3S                  -5.749029900 Ry

------- Fe.scfm --------
:CINT001 Core Integral Atom   1   11.998731

       DENSITY AT NUCLEUS
        JATOM        VALENCE       SEMI-CORE          CORE           TOTAL
:RTO001:   1        7.351421        0.000000    15215.065212    15222.416633
     
       CHARGES OF NEW CHARGE DENSITY
:NTO   : INTERSTITIAL CHARGE =     0.995588
:NTO001: CHARGE SPHERE  1    =    25.003160

:NEC01: NUCLEAR AND ELECTRONIC CHARGE     26.00000    25.99875
     
       CHARGES OF OLD CHARGE DENSITY
:OTO   : INTERSTITIAL CHARGE =     0.996498
:OTO001: CHARGE SPHERE  1    =    25.003502

:NEC02: NUCLEAR AND ELECTRONIC CHARGE     26.00000    26.00000
     
       CONVERGENCE TEST
:DTO001: DIFFERENCE IN SPHERE  1 =  0.0003767

:DIS  :  CHARGE DISTANCE       (  0.000377 for atom    1 spin 1)       0.000377
 
******************************************************
* MULTISECANT MIXING VER7 RELEASE 7.1.2              *
* Standard Mode with controls                        *
* Upper Bound on PW scaling active                   *
* Regularization       1.000E-04                     *
* Greed Lower Bound    2.500E-02                     *
* Trust Upper Limit    1.200E+01                     *
* Charge change trust active                         *
* Max Number of Memory Steps    8                    *
******************************************************
 
:INFO : Forcing a restart
:PLANE:  INTERSTITIAL TOTAL      0.39608 RMS  1.473E-04 , 3.733E-02 %
:CHARG:  CLM CHARGE   /ATOM    126.70447 RMS  2.067E-02 , 6.526E-04 %
 
Step History
      DMIX        Red     Pred      Trust     Lambda    MagRel    MagAbs     Beta
  1  3.50E-02 -1.00E+00  1.00E+00 -1.00E+01  1.00E+00  3.50E-02  3.50E-02  1.00E+00
:INFO :  Note, Pratt in use
:DIRM :  MEMORY  0/ 8 RESCALE    1.00
:MIX  :   PRATT  REGULARIZATION: 1.00E-04  GREED: 0.1500
     
       CHARGES OF MIXED CHARGE DENSITY
:CTO   : INTERSTITIAL CHARGE =     0.996549
:CTO001: CHARGE SPHERE  1    =    25.003451

:NEC03: NUCLEAR AND ELECTRONIC CHARGE     26.00000    26.00000

PW CHANGE     H    K    L      Current       Change    Residue
:PTO001:      0    0    0  4.38441383E-02  2.433E-06  1.622E-05
:PTO002:      0   -1   -1  6.93819026E-03  6.857E-07  4.572E-06
:PTO003:      0    0   -2 -1.15509039E-02 -7.504E-07 -5.003E-06
:PTO004:      1   -1   -2 -2.32692948E-02 -1.718E-06 -1.145E-05
:PTO005:      0   -2   -2 -4.39351797E-03 -3.305E-07 -2.203E-06
:PTO006:      0   -1   -3 -5.37720819E-03 -2.783E-07 -1.855E-06
:PTO007:      2   -2   -2  3.73990748E-04  3.090E-08  2.060E-07
:PTO008:      1   -2   -3  2.60617954E-03  2.145E-07  1.430E-06
:PTO009:      0    0   -4  5.81912769E-05  1.290E-08  8.601E-08
:PTO010:      1   -1   -4  6.14473265E-04  5.305E-08  3.537E-07
:PTO011:      0   -3   -3  4.57428363E-04  3.217E-08  2.144E-07
:PTO012:      0   -2   -4  5.42534521E-04  4.097E-08  2.731E-07

:ENE  : ********** TOTAL ENERGY IN Ry =        -2540.91306333

